/* table.css */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}
.edit-btn{
  background: transparent;
  color:darkgray;
  border: none;
  cursor: pointer;
}

.edit-btn:hover{
  color: #000;
  text-decoration: underline;
  background:transparent
}
.edit-save-btn{
    font-size: small;
    padding:0;
    color:green;
    background: transparent;
    border: none;
    cursor: pointer;
}
.edit-save-btn:hover{
    color: #000;
    text-decoration: underline;
    background:transparent
}
.edit-cancel-btn{
    font-size: small;
    padding:0;
    color:red;
    background: transparent;
    border: none;
    cursor: pointer;
}
.edit-cancel-btn:hover{
    color: #000;
    text-decoration: underline;
    background:transparent
}